#about-main-frame {
  height: 100%;
  /* 垂直居中 */
  display: flex;
  align-items: center;
  /* 好看的渐变色网站：https://color.oulu.me/ */
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#outer {
  width: 1100px;
  display: flex;
  margin: 0 auto;
}

#left {
  width: 360px;
  display: inline-block;
}

#right {
  margin-left: 12px;
  width: 700px;
  display: inline-block;
  position: relative;
}

.card {
  padding: 12px;
  /* 圆角矩形 */
  border-radius: 8px;
  /* 毛玻璃特效 */
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);
}

#img {
  padding: 0;
}

#avatar {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.styled-table {
  border-collapse: collapse;
}

.styled-table th, td {
  padding: 12px;
}

.styled-list li {
  line-height: 2em;
}
